In [1]:
print('Halo dunia! Saya siap jadi data scientist!')

Halo dunia! Saya siap jadi data scientist!

In [4]:
5+10

15

In [5]:
100*5

500

In [6]:
2**3

8

In [7]:
print('Nama saya Fauzan')
(50*2)+(100/4)

Nama saya Fauzan

125.0

In [8]:
jajan=50000

In [9]:
bakso=15000
sisa_uang=jajan-bakso
print(sisa_uang)

35000

In [10]:
harga_barang=25000
jumlah_beli=3
total_bayar=harga_barang*jumlah_beli
print(total_bayar)

75000

In [13]:
nama_depan='Budi'
umur=19
tinggi=165.5
jomblo=True
print(type(nama_depan))
print(type(umur))
print(type(tinggi))
print(type(jomblo))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [16]:
angka1='5'
angka2='5'
hasil=int(angka1)+int(angka2)
print(hasil)

10

In [19]:
umur=20
print('Umur saya' +str(20))

Umur saya20

In [21]:
celcius=30
fahrenheit=(celcius*1.8)+32
print('Suhu dalam Fahrenheit adalah' +str(fahrenheit))

Suhu dalam Fahrenheit adalah86.0

In [25]:
#list angka
nilai_ujian=[80,90,75,100]
tas_sekolah=['Buku','Pensil',3,15.5,True]

print(tas_sekolah[1])
print(tas_sekolah[-1])

Pensil
True

In [32]:
teman=['Ucup','Arip','Rangga','Mirza','Udin']
print(teman[0])
print(teman[3])
print(teman[-1])
geng=teman[:-1]
print(geng)
teman[0]='Yusuf'
teman.append('Reza')
print(teman)

Ucup
Mirza
Udin
['Ucup', 'Arip', 'Rangga', 'Mirza']
['Yusuf', 'Arip', 'Rangga', 'Mirza', 'Udin', 'Reza']

In [34]:
hobi=['Game','Nongkrong','Belajar','Galau']
print(hobi[1])
hobi[0]='Berenang'
hobi.append('Coding')
print(hobi)

Nongkrong
['Berenang', 'Nongkrong', 'Belajar', 'Galau', 'Coding']

In [38]:
data={
    'Nama':'Ucup',
    'Jurusan':'Informatika',
    'ipk':3.5,
    'lulus':False
}
print(data['Nama'])

print(data['ipk'])
data['kota']='Jakarta'
data['lulus']=True
print(data)

Ucup
3.5
{'Nama': 'Ucup', 'Jurusan': 'Informatika', 'ipk': 3.5, 'lulus': True, 'kota': 'Jakarta'}

In [40]:
profil={
    'Nama':'Fauzan',
    'umur':20,
    'hobi_utama':'coding'
}
print('HAlo nama saya' + profil['Nama'])
profil['makanan_favorit']='rendang'
print(profil)

HAlo nama sayaFauzan
{'Nama': 'Fauzan', 'umur': 20, 'hobi_utama': 'coding', 'makanan_favorit': 'rendang'}

In [41]:
umur=15
if umur>=17:
    print('Silahkan masuk kak!')
else:
    print('Maaf dek belom cukup umur!')

Maaf dek belom cukup umur!

In [42]:
nilai=75
if nilai>=90:
    print('Wow nilai A! Sempurna')
elif nilai>=75:
    print('Lumayan nilai B!')
elif nilai>=60:
    print('Nilai c, belajar lagi ya')
else:
    print('Waduh,nilai D, remdial ya!')

Lumayan nilai B!

In [45]:
pw_benar='rahasi123'
pass_inp=input('Masukkan Password: ')
if pass_inp==pw_benar:
    print('Login berhasil, selamat datang!')
else:
    print('Password salah!')

Masukkan Password:  rahasi123

Login berhasil, selamat datang!

In [47]:
geng=['Ucup','Arip','Rangga','Mirza']
for teman in geng:
    print('Halo bro ' + teman +', kapan toring?')

Halo bro Ucup, kapan toring?
Halo bro Arip, kapan toring?
Halo bro Rangga, kapan toring?
Halo bro Mirza, kapan toring?

In [48]:
for nomor in range(5):
    print('Perulangan ke-' +str(nomor))

Perulangan ke-0
Perulangan ke-1
Perulangan ke-2
Perulangan ke-3
Perulangan ke-4

In [51]:
bensin=0
while bensin<5:
    print('Isi bensin... Sekarang ' +str(bensin)+' Liter')
    bensin+=1
print('Tangki penuh cabut!')

Isi bensin... Sekarang 0 Liter
Isi bensin... Sekarang 1 Liter
Isi bensin... Sekarang 2 Liter
Isi bensin... Sekarang 3 Liter
Isi bensin... Sekarang 4 Liter
Tangki penuh cabut!

In [54]:
nilai_ujian=[50,80,60,90,100,40]
for nilai in nilai_ujian:
    if nilai>70:
        print('NIlai' +str(nilai)+'----> LULUS HORE')
    else:
        print('NIlai' +str(nilai)+ '----> GAGAl, Belajar lagi dek!')

NIlai50----> GAGAl, Belajar lagi dek!
NIlai80----> LULUS HORE
NIlai60----> GAGAl, Belajar lagi dek!
NIlai90----> LULUS HORE
NIlai100----> LULUS HORE
NIlai40----> GAGAl, Belajar lagi dek!

In [56]:
def nama_mesin(bahan_baku):
    hasil=bahan_baku*2
    return hasil
nama_mesin(3)

6

In [61]:
def sapa_nama(orang):
    print('Halo bos ' + orang +',Selamat bekerja!')
    print('Jangan lupa ngopi')
sapa_nama('ojan')

Halo bos ojan,Selamat bekerja!
Jangan lupa ngopi

In [65]:
def tambah_palsu(a,b):
    print(a+b)
hasil=tambah_palsu(3,5)
total=hasil+10

8

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [68]:
def tambah_bener(a,b):
    return a+b
hasil=tambah_bener(3,5)
total=hasil+10
print(total)

18

In [70]:
def c_ke_f(suhu_c):
    hasil_f=(suhu_c*1.8)+32
    return hasil
panas_bgt=c_ke_f(100)
print('Air mendidih itu ' + str(panas_bgt)+' derajat FAhrenheit')

Air mendidih itu 8 derajat FAhrenheit

In [71]:
import pandas as pd
import numpy as np

data_mentah={
    'Nama':['Ucup','Arip','Rangga','Mirza'],
    'Umur':[20,21,19,22],
    'Jurusan':['Informatika','Sistem Informasi','DKV','Hukum']
}
tabel=pd.DataFrame(data_mentah)
print(tabel)

     Nama  Umur           Jurusan
0    Ucup    20       Informatika
1    Arip    21  Sistem Informasi
2  Rangga    19               DKV
3   Mirza    22             Hukum

In [72]:
import pandas as pd

tim_sepakbola={
    'Nama_pemain':['Mbappe','Bellingham','Rodrygo','Vinicius Jr.'],
    'Posisi':['CF','CAM','RW','LW'],
    'Nomor_punggung':[11,10,16,20]
}
pemain=pd.DataFrame(tim_sepakbola)
print(pemain)

    Nama_pemain Posisi  Nomor_punggung
0        Mbappe     CF              11
1    Bellingham    CAM              10
2       Rodrygo     RW              16
3  Vinicius Jr.     LW              20

In [76]:
import pandas as pd
data={
    'nama':['Andi','Budi','Caca','Dedi','Euis'],
    'nilai':[80,90,75,85,95],
    'kota':['Jakarta','Bandung','Surabaya','Jakarta','Bandung']
}
df_sementara=pd.DataFrame(data)
df_sementara.to_csv('contoh_data.csv',index=False)
print('FIle CSV berhasil dibuat!')
df_nilaiku=pd.read_csv('contoh_data.csv')
df_nilaiku.head(3)
df_nilaiku.shape

FIle CSV berhasil dibuat!

(5, 3)

In [84]:
print(df_nilaiku.nama)
syarat=df_nilaiku['nilai']>80
siswa_pintar=df_nilaiku[syarat]
siswa_pintar

#Atau
df_nilaiku[df_nilaiku['nilai']>80]
anak_jakarta=df_nilaiku[df_nilaiku['kota']=='Jakarta']
anak_jakarta

0    Andi
1    Budi
2    Caca
3    Dedi
4    Euis
Name: nama, dtype: object

   nama  nilai     kota
0  Andi     80  Jakarta
3  Dedi     85  Jakarta

In [85]:
calon_juara=df_nilaiku[(df_nilaiku['nilai']>80) & (df_nilaiku['kota']=='Bandung')]
calon_juara

   nama  nilai     kota
1  Budi     90  Bandung
4  Euis     95  Bandung

In [86]:
df_nilaiku[df_nilaiku['nilai']<80]
bukan_jakarta=df_nilaiku[df_nilaiku['kota']!='Jakarta']
bukan_jakarta

   nama  nilai      kota
1  Budi     90   Bandung
2  Caca     75  Surabaya
4  Euis     95   Bandung

In [89]:
print('Total Nilai:',df_nilaiku['nilai'].sum())
df_nilaiku.describe()

Total Nilai: 425

           nilai
count   5.000000
mean   85.000000
std     7.905694
min    75.000000
25%    80.000000
50%    85.000000
75%    90.000000
max    95.000000

In [93]:
import pandas as pd

data_pokemon={
    'Nama':['Charizard','Squirtle','Bulbasaur','Pikachu','Onix','Geodude','Vulpix','Starmie'],
    'Tipe':['Fire','Water','Grass','Electric','Rock','Rock','Fire','Water'],
    'HP':[78,44,45,35,35,40,38,60],
    'Attack':[84,48,49,55,45,80,41,75],
    'Defense':[78,65,49,40,160,100,40,85]
}
df=pd.DataFrame(data_pokemon)
df.to_csv('pokemon.csv',index=False)
df

        Nama      Tipe  HP  Attack  Defense
0  Charizard      Fire  78      84       78
1   Squirtle     Water  44      48       65
2  Bulbasaur     Grass  45      49       49
3    Pikachu  Electric  35      55       40
4       Onix      Rock  35      45      160
5    Geodude      Rock  40      80      100
6     Vulpix      Fire  38      41       40
7    Starmie     Water  60      75       85

In [99]:
rata_serangan=df.groupby('Tipe')['Attack'].mean()
print(rata_serangan)
df.groupby('Tipe')['Defense'].count()
df.groupby('Tipe')['Attack'].mean().sort_values(ascending=False)

Tipe
Electric    55.0
Fire        62.5
Grass       49.0
Rock        62.5
Water       61.5
Name: Attack, dtype: float64

Tipe
Fire        62.5
Rock        62.5
Water       61.5
Electric    55.0
Grass       49.0
Name: Attack, dtype: float64